<!DOCTYPE html>
<html>
<head>
  <title>Mms</title>
  <%= stylesheet_link_tag    "mms/application", media: "all" %>
  <%= javascript_include_tag "mms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
