<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @backend_post.title %>
</p>

<%= link_to 'Edit', edit_backend_post_path(@backend_post) %> |
<%= link_to 'Back', backend_posts_path %>
